<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easysales.calllog"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.Record" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application android:name="com.easysales.calllog.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <receiver
            android:name="com.easysales.calllog.Receivers.MyPhoneCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.easysales.calllog.Receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.easysales.calllog.Receivers.NetworkStateChangeReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.easysales.calllog.Services.MySynchronizeService"
            android:enabled="true" />
        <service
            android:name="com.easysales.calllog.Services.CallProcessService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name="com.easysales.calllog.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.easysales.calllog.Activities.CallListActivity" />
        <activity
            android:name="com.easysales.calllog.Activities.CallActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.easysales.calllog.Activities.SettingsActivity" />

    </application>

</manifest>
